* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  background-color: black;
}
.module {
  background-color: black;
  color: white;
  text-align: center;
  padding: 150px;
}






.navbar-custom
{
    height: 75px;
}
.nav-link{
    /* font-family:"montserrat"; */
    font-weight:bold;
    font-size:1.2rem;
}
#title
{
    position: relative;
}
.navbar-nav >li{
    padding-left:50px;
    padding-right:30px;
  }










/* .container {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
} */

iframe {
  height: 500px;
  width: 98%;
  margin: 10px auto;
  position: relative;
  overflow: hidden;
  left: 10px;
  border: 10px;
  border-color: black;
}

.contact {
  background-color: black;
}

#info {
  width: 80%;
  background-color: black;
  color: white;
  margin: auto;
  text-align: center;
  padding: 30px;
}

#message {
  width: 80%;
  background-color: rgb(26, 27, 28);
  color: white;
  margin: auto;
  text-align: center;
  padding: 30px;
}

.message-img {
  padding: 50px;
  width: 100%;
}

#request {
  background-color: black;
}
.form-group {
  padding: 5px;
}

input[type="text"]:focus {
  border: 1px solid #ffc107;
}
input[type="email"]:focus {
  border: 1px solid #ffc107;
}
input[type="tel"]:focus {
  border: 1px solid #ffc107;
}
#request:focus {
  border: 1px solid #ffc107;
}

.send {
  background-color: wheat;
  color: black;
  width: 50%;
}

#info {
  position: relative;
  bottom: 50px;
}
.footer-wrapper
{
    position:relative;
    top: 0px;
    padding-top:45px;
    text-align: center;
    height: 500px;
    background-color:black;
    color:white; ;
    margin-bottom:10px;
    height:400px;


}


